services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    restart: unless-stopped
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://mongo:27017/eventsphere
    depends_on:
      - mongo
    command: npm start

  proxy:
    image: nginx:1.27-alpine
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - ./client:/usr/share/nginx/html:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  mongo-data:
    driver: local
